<%= provide(:title, 'Bienvenido a Conchalink') %>
<div class="row">
		<div class="center hero-unit">
			<h1>Bienvenido a Conchalink</h1>
			<h2>Encuentra al instante tu Ginecólogo con 1 solo click!</h2>			
		</div>

</div>