// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-clinic{
	margin-top: -20px;
	h3{
		margin-top: -5px;
	}
	h5{
		color: #535353;
	}
}

.show-info{
	margin-left: 20px;
}
